
/* ##########################    COMMON   ################################ */
*
{
    font: normal normal medium 22px/27px Helvetica Neue;
    letter-spacing: 0px;
    color: #303f60;
}

h1
{   
    font-weight: 600;
    font-size: 22px;
}

form
{
    margin-top: 12px;
    box-sizing: border-box;
}

form .row
{
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.row label
{
    display: inline-block;
    width: 40%;
    text-align: left;
    font-size: 14px;

}

.row span
{
    width: 60%;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
}

.row input
{
    width: 100%;

    background: #E8E8E833 0% 0% no-repeat padding-box;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 8px;
    outline:none;
}

input::placeholder
{
    opacity: 0.5;
}
input:focus
{
    border-color: #43afff;
}


input[type=submit] {
    width: 28%;
    background-color: #43afff;
    color: white;    
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    padding: 14px;
    margin: 36px auto;
    margin-bottom: 0;
}

.createAccount
{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 30px;
    cursor: pointer;
}

.blue
{
    color: #43afff;
}

.error
{
    display: block;
    text-align: right;
    font: normal normal normal 12px Helvetica Neue;
    letter-spacing: 0px;
    color: #FF0000;
    opacity: 0.8;
    margin-top: 6px;
}



/* ##################################    Sign UP   ############################### */

.row input[type=button]
{
    width: 32%;
    margin-right: 12px;
    margin-top: 0;
    cursor: pointer;
    outline: none;
}

.flex
{
    display: flex;
    justify-content: space-between;
    border: 1px solid;

    width: 100%;
    margin-top: 15px;
}
.row .password
{
    width: 46%;
    box-sizing: border-box;
    display: inline-block;
}

.row .password:last-child
{
    float: right;
}

.isActive
{
    background: #43AFFF;
    border: 1px solid #43AFFF;
}


/* ############################   Forgot Password  ########################################## */

p
{
    margin-top: 15px;
    font-size: 14px;
}