


body,html{
    margin:0;
    width:100%;
    height: auto;
}
html{
    background: linear-gradient(#1A253C 0%, #1A253C 45%,  #EDF6FF 45%, #EDF6FF 100%) no-repeat fixed;
    
}

.viewCandidates-container
{
    display: flex;
    justify-content: center;
    
}


.viewCandidates-container .viewCandidates 
{
    position: absolute;
    top: 11%;   

    min-width: 38vw;
    min-height: 84vh;
    width: 44vw;
    max-height: 86vh;

    background-color: white;
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;

    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 20px;
    z-index: 10;
    opacity: 1;

    animation: appear 1s ease-out ;
    overflow: hidden;
}

@keyframes appear {
    0%
    {
        top: 12%
    }
    100%
    {
        top:11%
    }
}
.viewCandidates .header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    
    border-bottom: 1px solid  rgba(48, 63, 96, 0.2);
}

.viewCandidates .header h1
{   
    font-weight: 600;
    font-size: 22px;
}

.viewCandidates .header span
{   
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
}


.Candidates
{
    min-height: 60vh;
    min-width: 41vw;
    max-width: 41vw;
    max-height: 62vh;
    border-radius: 10px;
    background-color: rgba(169,175,188,0.2);
    box-sizing: border-box;


    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5px;

    overflow-y: auto;
    max-height: 65vh;
    padding: 10px;
    
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    scroll-margin-left: 20px;
    scroll-padding: 20px;
    
}


.Candidates::-webkit-scrollbar
{
    width: 4px;
    border-radius: 4px;
}

.Candidates::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

.Candidates::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
  border-radius: 9999px;
}