
.Jobs-container
{

}

.Jobs-container h1{
    color: #fff;
    font-size: 20px;

    margin-top: 2%;
}

.jobs
{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    background-color: transparent;

    margin-top: 2%;
    margin-bottom: 10px;
}

